<!doctype html> 
				<html> 
				  <head>
				    <meta name="viewport" content="width=device-width" /> 
				    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
				    <title>Simple Transactional Email</title> 
                  </head>                
				  <body class=""> 
                        <table border="0" cellpadding="0" cellspacing="0" class="body"> 
                            <tr>
                                <!-- <td>&nbsp;</td> -->
                                <td class="container">
                                    <div class="content">
                                        <table class="main">
                                            <tr>
                                                <td class="wrapper">
                                                        <table border="0" cellpadding="0" cellspacing="0"> 
                                                            <tr>
                                                                    <p class="ola">Mensagem Individual enviada por  
                                                                    <span th:text="${mensagem.nomeProfissionalSaude}"></span>
                                                                    ás
                                                                    <span th:text="${mensagem.dataEnvio}"></span>
                                                                    <br/><br/>
                                                                    Assunto: <span th:text="${mensagem.assunto}"></span> <br/>
                                                                    Mensagem:<span  th:text="${mensagem.mensagem}"></span>
                                                                    </p> 				                       
                                                            </tr>
                                                        </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                             <!-- START FOOTER --> 
				            <div class="footer"> 
                                    <table border="0" cellpadding="0" cellspacing="0"> 
                                      <tr> 
                                        <td class="content-block"> 
                                          <span class="apple-link">Atenciosamente, Equipe Info Saúde</span>
                                          
                                        </td> 
                                      </tr> 
                                    </table> 
                                  </div> 
                                  <!-- END FOOTER --> 
                       
                                <!-- END CENTERED WHITE CONTAINER --> 
                                 
                              
                              <td>&nbsp;</td> 
                            
                            </table>				    
				       
				          
				  </body> 
				</html>