<!doctype html> 
				<html> 
				  <head> 
                    <link rel="stylesheet" type="text/css" href="nova-mensagem.css"/>  
				    <meta name="viewport" content="width=device-width" /> 
				    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
				    <title>Simple Transactional Email</title> 
                  </head>                
				  <body class=""> 
                        <table border="0" cellpadding="0" cellspacing="0" class="body"> 
                            <tr>
                                <!-- <td>&nbsp;</td> -->
                                <td class="container">
                                    <div class="content">
                                        <table class="main">
                                            <tr>
                                                <td class="wrapper">
                                                        <table border="0" cellpadding="0" cellspacing="0"> 
                                                            <tr>
                                                                    <p class="ola">Prezado(a) <span th:text="${pessoaSenhaEsquecida.pessoaNome}"></span>,<br/>
                                                                    Clique no link abaixo para alterar sua senha.
                                                                    </p>
                                                                 <a th:href="@{${pessoaSenhaEsquecida.baseUrl} + '/esqueceuSenha/' + ${pessoaSenhaEsquecida.link}}">Clique aqui para altera sua senha.</a> 				                       
                                                            </tr>
                                                        </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                             <!-- START FOOTER --> 
				            <div class="footer"> 
                                    <table border="0" cellpadding="0" cellspacing="0"> 
                                      <tr> 
                                        <td class="content-block"> 
                                          <span class="apple-link">Equipe Info Saúde</span>
                                          
                                        </td> 
                                      </tr> 
                                    </table> 
                                  </div> 
                                  <!-- END FOOTER --> 
                       
                                <!-- END CENTERED WHITE CONTAINER --> 
                                 
                              
                              <td>&nbsp;</td> 
                            
                            </table>				    
				       
				          
				  </body> 
				</html>